{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": ["@typescript-eslint", "simple-import-sort"],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "prettier/prettier": "warn",
        "simple-import-sort/imports": "warn",
        "simple-import-sort/exports": "warn"
    }
}
